.container-fluid h2:first-of-type {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    color: #000000;
    padding: 10px;
}

select#functionId + .selectize-control {
    font-family: monospace;
}
